:root {
	--code-font: 'IBM Plex Mono';
	--background-color: #ffffff;
	--code-background: #eeeeee;
	--code-border: #dddddd;
	--text-color: #313131;
	--accent-color: #4169e1;
	--visited-color: #4800a7;
	--disabled-color: #999999;
}
