@import 'imports';

body {
	background-color: var(--background-color);
	color: var(--text-color);
	line-height: 1.5;
}

main {
	width: 100%;
	max-width: 840px;
	margin: 0 auto 60px;

	@media screen and (max-width: 1024px) {
		max-width: 700px;
	}
	@media screen and (max-width: 768px) {
		max-width: 640px;
	}
	@media screen and (max-width: 680px) {
		padding: 0 20px;
	}
}

h1 {
	font-size: 48px;
	margin: 100px auto 0;
	text-align: center;
	@media screen and (max-width: 768px) {
		margin-top: 80px;
	}
	@media screen and (max-width: 680px) {
		font-size: 42px;
		margin-top: 60px;
	}
}

h2, h3, h4, h5 {
	margin-top: 1em;
}

h2 {
	font-size: 38px;
	@media screen and (max-width: 680px) {
		font-size: 34px;
	}
}

h3 {
	font-size: 32px;
	@media screen and (max-width: 680px) {
		font-size: 28px;
	}
}

h4 {
	font-size: 28px;
	@media screen and (max-width: 680px) {
		font-size: 24px;
	}
}

h5 {
	font-size: 24px;
	@media screen and (max-width: 680px) {
		font-size: 20px;
	}
}

p {
	margin-top: 10px;
	font-size: 20px;
	@media screen and (max-width: 680px) {
		font-size: 18px;
	}
}

ul,
ol {
	padding-left: 1.5em;
	font-size: 20px;
	@media screen and (max-width: 680px) {
		font-size: 18px;
	}
	li {
		margin-top: 10px;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

a {
	border-bottom: 1px solid;
	color: var(--accent-color);
	&:visited {
		color: var(--visited-color);
	}
	&:hover {
		opacity: 70%;
	}
	&:focus {
		border: none;
		outline: 2px solid var(--accent-color);
		outline-offset: 2px;
	}
}

code {
	padding: 2px 5px;
	border-radius: 5px;
	background-color: var(--code-background);
	border: 1px solid var(--code-border);
	font-family: var(--code-font), 'Courier New', Courier, monospace;
	font-size: 0.8em;
	line-height: 1.5;
	white-space: nowrap;
}

pre {
	margin: 10px 0 0;
	padding: 15px 20px;
	border-radius: 5px;
	background-color: var(--code-background);
	border: 1px solid var(--code-border);
	overflow-x: auto;
	code {
		padding: 0;
		border: none;
		border-radius: 0;
		background-color: unset;
		font-size: 1em;
		line-height: 2em;
	}
}
