@import 'imports';

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	color: var(--text-color);
	line-height: 1.5;
}

h1 {
	font-size: 48px;
	transform: translateY(-100%);
	text-align: center;
}

a {
	color: var(--accent-color);
	&:visited {
		color: var(--visited-color);
	}
	&:not([href]) {
		color: var(--disabled-color);
	}
	&:hover[href] {
		text-decoration: underline;
	}
	&:focus {
		outline: 2px solid var(--accent-color);
		outline-offset: 2px;
	}
}
