@import 'imports';

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	color: var(--text-color);
	line-height: 1.5;
}

h1 {
	font-size: 48px;
	transform: translateY(-100%);
	text-align: center;
}

a {
	border-bottom: 1px solid;
	&:visited {
		color: var(--visited-color);
	}
	&:hover {
		color: var(--accent-color);
	}
	&:focus {
		padding: 2px;
		color: var(--accent-color);
		border-radius: 5px;
		border: 2px solid;
	}
}
