extends ../extends/layout

block head
	link(rel="stylesheet", href="styles/article.css")
	title Доступность

block body
	.container
		h1 Доступность
		h2 Удобство чтения
		p Чрезвычайно важно, чтобы текстовое содержимое было удобочитаемо. Если посетители не могут прочитать содержимое веб-страницы, они не могут взаимодействовать с ней, а это приведёт к тому, что они просто покинут сайт.
		h3 Цветовой контраст
