extends ../extends/layout

block head
	meta(name="description", content="Главная страница Tema Naganov")
	link(rel="stylesheet", href="styles/main.css")
	title Tema Naganov

block body
	h1 Tema Naganov
	ul
		li
			a(href="/accessibility.html") Доступность
